#wrap {
    width: 100%;
    /* min-width: 1800px; */
    margin: 0 auto
}
main .new #new_item {
    width: 1440px; margin: 0 auto; padding: 50px 20px; }

body {max-width: 1920px; margin:20px 0 ;}
.top_menu {padding-bottom: 30px;}

.main_header {display: flex; flex-flow: row nowrap; justify-content: space-between; padding: 0 240px;}
.main_header .logo img {width: 227px;}
.main_header .login {text-align: right; padding-bottom: 17px ;}
.main_header .login a {font-size: 0.875rem; color: #6B6A6A; padding: 0 10px;}
.main_header .login > .lang {
    font-size: 0.625rem; border: 1px solid #6B6A6A; padding: 4px 15px;
    text-align: center; border-radius: 5px;
}
.main_header .search_btn #search {
    width: 484px; height: 34px; background-color: #f1f1f1; border-radius: 20px; 
    padding: 0 40px 0 20px; font-size:0.875rem ;
}
.main_header .search_btn .search_btn {position: absolute; position: absolute; transform: translateX(-30px) translateY(10px); }

.menu {display: flex; flex-flow: row nowrap; justify-content: space-between; padding: 0 240px; align-items: center; }
#gnb {padding: 20px 0;}
#gnb ul {display: flex; flex-flow: row nowrap; justify-content: center; align-items: center;}
#gnb ul a {color: #343434; padding:0 25px ;}
#gnb ul li {position: relative;}
#gnb ul a::after 
{content: ''; display: inline-block; width: 1px ; height: 10px ; background-color: #dddddd; 
    top: 50%; transform: translateX(19px);
}
#gnb ul li:first-child a { /* 메뉴왼쪽 여백제거 */
    padding-left: 0; 
}
#gnb ul li:last-child a::after { /* 마지막 메뉴 막대기 제거 */
    display: none;
}

#gnb ul li:not(:first-child) a:hover { /* 헤더 메뉴에 마우스 올렸을 때 글자색 */
    font-weight: 500;
    color: #ED9671 !important; 
}
.sub_menu_txt a:hover { /* 서브메뉴에 마우스 올렸을 때 밑줄 */
    text-decoration: underline;
}

.menu .notice {font-size:0.688rem ;}
.menu .notice .notice_color {color: #6B6A6A;}
.new h1 {font-size: 2rem; font-weight: 600; text-align: center; color: #343434; padding-top: 100px; padding-bottom: 13px;}
.new > p {font-size: 0.875rem; text-align: center; color: #6B6A6A; padding: 10px 40px; position: relative;}
.new > p::after {
    content: ''; position: absolute; width: 170px; height: 1px; 
    background-color: #D9D9D9; bottom: -1px; left: 50%; transform: translateX(-50%);
}

.sub_menu {
    width: 100%; height: 417px; background: #fff; position: absolute; z-index: 999; 
    border-top: 1px solid #D9D9D9; display: none;
}
.sub_menu_txt {
    width: 1067px; margin-left:324px; margin-top: 20px ; 
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
.sub_1 li:first-child {color: #343434; font-weight: 500; padding-bottom: 23px;}
/* .sub_1 li:nth-child(n+2) {font-size: 0.938rem; color: #6B6A6A; padding-bottom: 13px;} */
.sub_1 li:not(:first-child) a {font-size: 0.938rem; color: #6B6A6A; display: block; padding-bottom: 13px;}

#main_bnr .swiper-pagination-bullet {background: #ED9671;}
#main_bnr_m .swiper-pagination-bullet {background: #ED9671; width: 5px; height: 5px;}
#new_item .swiper-pagination-bullet {background: #ED9671;}
#best_item .swiper-scrollbar-horizontal {width: 790px; height: 3px; left: 50% ; transform: translateX(-50%);}


.swiper-pagination-bullet-active {background: #ED9671;} /* 확인-------------- */

.item_text .item_name {font-size: 0.938rem; padding-top: 15px; padding-bottom: 12px;}
.item_text .price {font-size: 0.938rem; font-weight: 700 ; padding-bottom: 12px;}
.item_text .level {display: flex; flex-flow: row nowrap; gap: 5px;}
.item_text .level .level_txt {font-size: 0.813rem; color: #a4a4a4 ; padding-right: 5px; padding-bottom: 6px; }
.item_text .review {font-size: 0.813rem;}

.best h1 {font-size: 2rem; font-weight: 600; text-align: center; color: #343434; padding-top: 100px; padding-bottom: 13px;}
.best > p {font-size: 0.875rem; text-align: center; color: #6B6A6A; padding: 10px 40px; position: relative;}
.best > p::after {
    content: ''; position: absolute; width: 190px; height: 1px; 
    background-color: #D9D9D9; bottom: -1px; left: 50%; transform: translateX(-50%);
}
.best .best_tab {display: flex; flex-flow: row nowrap; justify-content: center; padding-top: 53px; padding-bottom: 32px;}
.best .best_tab .tab {
    width: 400px ; height: 47px; background: #F1F1F1 ; display: flex; justify-content: center; align-items: center; margin: 0 6px;
    border-radius: 20px; font-size: 0.938rem; color: #343434;
}
.best .best_tab .diy_tab {color: #fff; background: #ED9671;}

#best_item {
    padding-bottom: 62px; 
    margin-bottom: 127px;
}

#best_item .swiper {
    position: relative;
    overflow: visible; /* hidden → visible */
    padding-bottom: 40px;
}

.swiper-container {
    overflow: visible;
}



.new_product {display: block;}

.add_bnr a {display: block; text-align: center; margin: 120px 0;}

.video_section {width: 100%; height:1093px ; background-color: #F6F4F4;}
.video_section .video_item:first-child {display: flex; flex-flow: row nowrap;justify-content: center; padding: 82px 0 44px ;}
.video_section .video_item{display: flex; flex-flow: row nowrap;justify-content: center; }
.video_section .video_item iframe {width: 794px; height: 439px;}
.video_section .video_item .text {display: flex; flex-flow: column nowrap; margin: 20px 50px;}
.video_section .video_item .text .video_txt {color: #A4A4A4;}
.video_section .video_item .text .heart_txt {color: #343434; font-size: 2.5rem; font-weight: 700; padding: 12px 0 45px ;}
.video_section .video_item .text .heart_txt2 {color: #6B6A6A; font-weight: 500; line-height: 180%;}

.customer_review {border-bottom: 1px solid #D9D9D9;  text-align: center; margin: 0 auto;}
.customer_review .review_txt {display: flex; flex-flow: row nowrap; justify-content: space-between; width:1360px ; margin: 0 auto; padding-bottom: 20px;}
.customer_review .more {display: flex; flex-flow: row nowrap; justify-content: center; align-items: center;}
.customer_review h2 {font-size: 2rem; font-weight: 600; text-align: center; color: #343434; padding: 122px 0 16px;}
.customer_review > p {font-size: 0.875rem; text-align: center; color: #6B6A6A; padding-bottom: 30px;}
.customer_review .asterion {display: flex; flex-flow: row nowrap;}
.customer_review .asterion .review_text {font-size: 0.938rem ; color: #A4A4A4;}
.customer_review .asterion .first {font-size: 0.938rem ; color: black;}
.customer_review .asterion .star {padding: 0 30px;}
.customer_review .more .more_small {font-size: 0.75rem ; color: #D9D9D9; padding-right: 8px;}

.review_item {display: flex; flex-flow: row nowrap; width: 1360px; margin: 0 auto; padding-top: 30px; justify-content: space-between;}
.review_item .txt {display: flex; flex-flow:column nowrap;}
.review_item .item .txt .title_view {font-size: 0.875rem; padding: 10px 0;}
.review_item .item .txt .view_txt, .year, .person {font-size: 0.75rem;}
.review_item .item .txt .view_txt{padding-bottom: 18px;}
.review_item .item .txt .year {padding: 2px 0;}

footer {margin-top: 90px;}
footer .best_notice {font-size: 0.813rem; padding-left: 105px ;}
.footer_notice {margin: 0 240px; display: flex; justify-content: space-between;}
.notice_content {display: flex; flex-flow: row nowrap; justify-content: center; align-items: center; padding-bottom: 23px;}
.notice_content h1 {padding-right: 20px; font-size:1.375rem ; font-weight: 500;}
.notice_content a {padding: 0 10px;}
.footer_year {display: flex; flex-flow: row nowrap; justify-content: center; align-items: center;}
.footer_year .arrow {padding-left: 10px;}
.footer_year p {padding-left: 73px;}
.footer_year .f_year {font-size: 0.813rem;}
.footer_year .f_more {font-size: 0.75rem;}

.footer_txt {width: 100%; height: 315px; background: #EBD9C5 ;}
.f_logo {padding-right:28px ;}
.footer_txt .f_bg {display: flex; flex-flow: row nowrap; padding: 40px 0 0 240px; }
.footer_txt nav {padding-bottom:20px ; }
.footer_txt >p {font-size: 0.813rem;}
.f_txt li {font-size: 0.813rem; padding-right: 40px;}
.f_txt li:last-child {padding-right: 0;}
.f_txt ul {display: flex; flex-flow: row nowrap;}
address {font-size: 0.813rem; color: #343434; line-height:180% ; padding-bottom: 27px;}
.f_number {padding-left: 253px;}
.f_number > h2 {font-size: 0.938rem; padding-bottom:16px ;}
.f_number .f_number_right > h3 {font-size: 1.25rem; font-weight: 500; padding-bottom:8px; }
.f_number .f_number_right > p {font-size: 0.813rem; color: #343434; padding-bottom: 7px;}
.f_number .f_number_right > p {line-height: 120%;}
.f_number_m {display: flex; flex-flow: row nowrap;}

.f_bank {padding-left: 79px;}
.f_bank > h2 {font-size: 0.938rem; padding-bottom: 14px;}
.f_bank .f_bank_right > p {font-size: 0.813rem; line-height: 180%; color: #343434;}
.f_bank .icon {display: flex; flex-flow: row nowrap; align-items: center; gap:12px ;}

.swiper-slide img {width: 100%;
    height: auto;
    display: block;}

.new_product img {width: 330px;
    height: auto;
    display: block;}

#best_item {width: 1900px;}
.add_bnr img {
    max-width: 1440px; 
    height: auto; 
    width: 100%; 
}
#main_bnr_m {display: none;}
.add_bnr_m {display: none;}
.review_item .star_view svg {width: 15px; height: 15px;}

.mobile_icon {display: none;}

/* 반응형 */
@media screen and (max-width:1400px){
    .notice {display: none;}
    .main_header {padding: 0 30px;}
    .menu {padding: 0 30px;}
    #new_item .swiper-slide img {
        max-width: 1400px;
        width: 100%;
        height: auto;
        display: block;
    }
    .sub_menu_txt {margin-left:100px;}
    #new_item .thumbnail > img {width: 320px; height: 362px;}
    main .new #new_item {width: 1340px;}
    #best_item {margin: 0 30px; width: 1400px;}
    #best_item .swiper-slide img {width: 320px; height: 362px;}
    .add_bnr img {padding:0 40px ;}
    .heart_txt {font-size:1.875rem !important;}
    .review_item { width: 1340px;}
    .footer_notice {margin: 0 35px;}
    .footer_txt .f_bg {padding: 40px 42px;}
    .f_txt ul > li {stroke-width: 0.813rem;}
    /* 화면줄이면 썸넬 줄어듬 */
    main .new #new_item  {width: 100%;}
    #new_item .new_product img {width: 100%; height: auto;}
    main .best #best_item  {width: 100%;}
    #best_item .new_product img {width: 100%; height: auto;}
    #best_item {margin: 0 15px;}
    .customer_review .review_txt {padding: 0 70px 20px; width:auto; }
    .review_item  {margin: 0 30px;}
    /* .review_item .thumbnail_small {width: 250px;} */
    .review_item .thumbnail_small img {width: 100%; height: auto; padding-right:15px ;}
    .review_item {width: auto;}
    .footer_txt {width: 1400px;}
}

@media screen and (max-width: 793px){
    .main_header .logo img {width: 172px; height: auto;}
    .login {display: none;}
    .search_btn {display: none;}
    #gnb {padding:20px 0 5px;}
    #gnb li {font-size:0.625rem ; padding: 0 0px;}
    #gnb ul a {color: #343434; padding:0 15px; }
    .menu {padding: 0 15px;}
    #menu_btn img {width:15px ;}
    #main_bnr .swiper-slide img {width: 100%;}
    .main_header {padding: 0 10px;}
    #main_bnr {display: none;}
    #main_bnr_m {display: block;}
    .new > h1 {font-size: 1.125rem; padding-bottom: 0;}
    .new > p {font-size: 0.625rem;}
    .new > p::after {width: 120px;}

    .item_text .item_name {font-size: 0.563rem; padding:10px 0 7px ;}
    .item_text .price {font-size: 0.563rem; padding-bottom: 7px;}
    .item_text .level .level_txt {font-size: 0.5rem;}
    .item_text .level svg {width: 5px; height: 5px;}
    .item_text .review {font-size: 0.5rem;}
    .item_text .level {gap: 2px;}
    main .new #new_item  {width: 100%;}
    #new_item .new_product img {width: 100%; height: auto;}
    #new_item .swiper-pagination-bullet {width: 5px; height: 5px;}
    .best > h1 {font-size: 1.125rem; padding-bottom: 0;}
    .best > p {font-size: 0.625rem;}
    .best > p::after {width: 130px;}
    
    #best_item {margin: 0 15px;}
    main .best #best_item {width: 100%;}
    #best_item .new_product .thumbnail img {width: 100%; height: auto;}
    .best .best_tab .tab {width:135px ; height: 20px; font-size: 0.563rem;}
    .best .best_tab {padding: 26px 0 12px;}
    .add_bnr {display: none;}
    .add_bnr_m {display: block; padding: 45px 0 79px; text-align: center;}
    .video_section .video_item iframe {width: 410px; height: 229px; margin: 0 auto;}
    .video_section .video_item {display: flex; flex-flow: column nowrap !important;}

    .video_section .video_item:nth-child(2) {display: none;}
    .video_section {width: 100%; height:390px ; background-color: #F6F4F4;}
    .video_section .video_item .text .heart_txt {font-size: 1.75rem !important; padding: 9px 0 15px; text-align: center;}
    .video_section .video_item .text .heart_txt2 {font-size: 0.688rem ; text-align: center;}
    .video_section .video_item .text .video_txt {font-size: 0.625rem; text-align: center;}
    .video_section .video_item:first-child {padding: 23px 0 35px;}
    .item4 {display: none;}
    .item5 {display: none;}
    .item9 {display: none;}
    .item10 {display: none;}
    .customer_review h2 {font-size: 1.125rem;}
    .customer_review p {font-size: 0.625rem;}
    .customer_review .review_txt {padding: 10px 15px;}
    .review_item {margin: 0 15px;}
    .review_txt .asterion .review_text {font-size: 0.625rem;}
    .customer_review .asterion .star {padding: 0 12px;}
    .review_txt .more .more_small {font-size: 0.563rem;}
    .review_item .txt .title_view {font-size:0.563rem !important; padding: 7px 0 !important;}
    .review_item .txt .view_txt {font-size:0.5rem !important; padding-bottom: 7px !important;}
    .review_item .txt .year {font-size: 0.5rem;}
    .review_item .txt .person {font-size: 0.5rem;}
    .review_item .star_view svg {width: 10px; height: 10px;}

    .review_item .thumbnail_small img {padding-right: 0;}
    .review_item .item2 , .item7 {margin: 0 15px;}
    .footer_txt {width: 790px;}
    .footer_txt .f_bg {display: flex; flex-flow: column nowrap;}
    .footer_txt .f_bg .f_txt address {display: none;}
    .footer_notice {display: none;}

    .f_number {padding: 0;}
    .footer_txt .f_logo a img {width: 146px; height: auto; padding-bottom: 11px;}
    .footer_txt .f_txt li {font-size: 0.5rem;}
    .f_txt li {padding-right:11px ;}
    .footer_txt .f_txt > p {font-size: 0.438rem; padding-bottom: 18px;}
    .f_number {display: flex; flex-flow: row nowrap;}
    .f_bank {display: flex; flex-flow: row nowrap;}
    .footer_txt nav {padding-bottom: 6px;}
    .footer_txt .f_bg {padding:12px 16px ;}
    .footer_txt {width: 100%; height: 205px}
    .f_number_m .f_number > h2 {font-size:0.625rem ; padding-right: 24px;}
    .f_number_m .f_number .f_number_right > h3 {font-size:0.75rem ;}
    .f_number_m .f_number .f_number_right > p {font-size:0.563rem ;}
    .f_bank > h2 {font-size: 0.625rem; padding-right: 24px;}
    .f_bank .f_bank_right > p {font-size: 0.563rem; margin-bottom: 3px;}
    .f_bank .f_bank_right .icon img {width: 20px; height: auto;}
    .f_bank .icon {gap: 8px;}
    .mobile_icon {display: block;}
    .main_header {align-items: center;}
    .main_header .logo {margin-right: 193px;}
}